---
import { formatPostDate } from "../utils/date";
import Tag from "./Tag.astro";

const { post } = Astro.props;
---

<li class="blog-summary" transition:animate="fade">
  <article>
    <p>{formatPostDate(post.data.pubDate).date}</p>
    <h3>
    <a
      class="blog-summary__link"
      href={post.data.link === "" || !post.data.link
        ? "/posts/" + post.id
        : post.data.link}
      target={post.data.link !== "" ? "_blank" : "_self"}
      >{post.data.title}
    </a>
  </h3>
    <p>{post.data.description}</p>
    <section>
      <h4 class="visually-hidden">Posts tagged with:</h4>
      <ul class="blog-summary__tags">
        {
          post.data.tags?.map((tag: string) => (
            <li>
              <Tag tag={tag}>{tag}</Tag>
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</li>

<style lang="scss">
  .blog-summary {
    border-bottom: 1px solid;
    padding: 0 0 1.2em 0;
    margin: 0 0.2em;
    display: flex;
    flex-direction: column;
      
    &__link {
        color: var(--color);
        margin: 0 0 1em 0;
        text-decoration: none;
        text-shadow: 0.05em 0 0 var(--bgColor), -0.05em 0 0 var(--bgColor),
        0 0.05em 0 var(--bgColor), 0 -0.05em 0 var(--bgColor),
        0.1em 0 0 var(--bgColor), -0.1em 0 0 var(--bgColor),
        0 0.1em 0 var(--bgColor), 0 -0.1em 0 var(--bgColor);
        background-image: linear-gradient(to right, var(--light-lilac) 0%, var(--lilac) 100%);
        background-repeat: repeat-x;
        background-position: 0 100%;
        background-size: 100% 0.1em;
      }
    
    &__tags {
      display: flex;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
</style>
