---
import { formatPostDate } from "../utils/date";
import Tag from "./Tag.astro";

const { post } = Astro.props;
---

<li class="blog-summary">
  <article>
    <p>{formatPostDate(post.data.pubDate).date}</p>

    <a
      class="blog-summary__link"
      href={post.data.link === "" || !post.data.link
        ? "/posts/" + post.id
        : post.data.link}
      target={post.data.link !== "" ? "_blank" : "_self"}
      ><h3>{post.data.title}</h3>
    </a>

    <p>{post.data.description}</p>
    <section>
      <h4 class="visually-hidden">Posts tagged with:</h4>
      <ul>
        {
          post.data.tags?.map((tag: string) => (
            <li>
              <Tag tag={tag}>{tag}</Tag>
            </li>
          ))
        }
      </ul>
    </section>
  </article>
</li>

<style>
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .blog-summary {
    border-bottom: 1px solid;
    padding: 2em 0 1.2em 0;
    margin: 0 0.2em;
    display: flex;
    flex-direction: column;
  }
  .blog-summary__link {
    color: var(--foregroundColor);
    margin: 0 0 1em 0;
  }

  .blog-summary:last-of-type {
    border-bottom: none;
  }
</style>
