---
import { Image } from "astro:assets";
import Tech from "./Tech.astro";
const { content } = Astro.props;
---

<li class="project-card" transition:animate="fade">
  <div class="project-card__image">
    <Image
      class="project-card__image--image"
      src={content.data.images.thumb}
      alt=""
    />
  </div>
  <div class="project-card__content">
    <h3 class="project-card__content__title">
      <a href={"/projects/" + content.id}>{content.data.title} </a>
    </h3>
    <p class="visually-hidden">This project was created using:</p>
    <ul class="project-card__content__tags">
      {
        content.data.technologies?.map((tech: string) => (
          <li>
            <Tech tech={tech}>{tech}</Tech>
          </li>
        ))
      }
    </ul>
    <p class="project-card__content__description">{content.data.description}</p>

    <div class="project-card__content__link">
      <a
        href={"/projects/" + content.id}
        class="project-card__content__link--link"
        >View project <span aria-hidden>&#62;</span>
        <span aria-hidden>&#62;</span>
      </a>
    </div>
  </div>
</li>

<style lang="scss">
  @use "../styles/mixins";
  .project-card {
    margin: 0 auto 2em auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    height: 300px;

    @include mixins.smalldesk {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 500px;
      max-width: 100%;
      border-radius: 100px 0 0 0;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;

      clip-path: inset(0 0 0 0 round 20% 0 0 0);
      //clip-path: path(evenodd, var(--clipPath));

      &--image {
        width: 300px;
        height: auto;
        @include mixins.smalldesk {
          width: 500px;
          max-width: 100%;
        }
      }
    }

    &__content {
      color: var(--color);
      height: 300px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      padding: 0 1.5em;

      @include mixins.smalldesk {
        align-items: center;
        text-align: center;
        height: max-content;
        padding: 1em;
      }
      &__title {
        font-size: 1.3em;
        margin-top: 0.1em;
        margin-bottom: 0.3em;
        a {
          @include mixins.underline-link;
          @include mixins.reset-link;
          background-size: 100% 0.1em;
          background-position: 0 100%;
        }
      }

      &__description {
        font-size: 1em;
      }
      &__tags {
        display: flex;
        margin-top: 2em;
        @include mixins.reset-list;
      }
      &__link {
        display: flex;
        align-items: center;

        --to: 80%;
        font-weight: 900;

        &--link {
          font-size: 0.85em;
          @include mixins.reset-link;
          @include mixins.underline-link;
          background-position: 0 88%;
          span {
            opacity: 0;
            font-size: 1em;
            &:first-of-type {
              --order: 1;
            }
            &:last-of-type {
              --order: 2;
            }
          }
        }
      }
    }

    &:hover .project-card__image--image {
      scale: 1.1;
      transition: all 800ms;
    }

    &:hover > .project-card__content .project-card__content__link--link {
      animation: underline-link 400ms forwards;
      font-weight: bold;
    }

    &:hover > .project-card__content > .project-card__content__title {
      font-weight: bold;
    }
    &:hover .project-card__content__link--link > span {
      opacity: 1;
      transition: all 500ms;
      transition-delay: calc(var(--order) * 150ms);
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 801px) {
      &:nth-of-type(even) {
        border-radius: 0 61px 0 0;
      }

      &:nth-of-type(even) > .project-card__image {
        order: 2;
        clip-path: inset(0 0 0 0 round 0 20% 0 0);
      }
      &:nth-of-type(even) > .project-card__content {
        align-items: flex-end;
        padding: 0 1.5em 1.5em 2em;
      }
    }
  }
  .project-card:not(:last-of-type) {
    margin-bottom: 3em;
  }
</style>
