---
import { Image } from "astro:assets";
import Tag from "./Tag.astro";
import { randomClipPath } from "../utils/get-random-clip-shape";
const { content } = Astro.props;

const randomPath = `var(--${randomClipPath()}-path)`;
---

<li class="project-card" transition:animate="fade">
  <div class="project-card__image">
    <Image
      class="project-card__image--image"
      src={content.data.image.image}
      alt="See project"
    />
  </div>
  <div class="project-card__content">
    <h3 class="project-card__content__title">
      <a href={"/projects/" + content.id}>{content.data.title} </a>
    </h3>
    <p class="project-card__content__description">{content.data.description}</p>
    <!-- <section>
      <p class="visually-hidden">Posts tagged with:</p>
      <ul class="project-card__content__tags">
        {
          content.data.tags?.map((tag: string) => (
            <li>
              <Tag tag={tag}>{tag}</Tag>
            </li>
          ))
        }
      </ul>
    </section> -->
    <a class="project-card__content__link" href={"/projects/" + content.id}
      >View project
    </a>
  </div>
</li>

<style lang="scss" define:vars={{ clipPath: randomPath }}>
  @use "../styles/mixins";
  .project-card {
    margin: 0 auto 2em auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    height: 300px;

    @include mixins.box-shadow;
    @include mixins.smalldesk {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 500px;
      max-width: 100%;
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: inset(0 0 0 0 round 20% 0 0 0);
      //clip-path: path(evenodd, var(--clipPath));
      @include mixins.smalldesk {
        clip-path: inset(0 0 0 0 round 15% 15% 0 0);
      }

      &--image {
        width: 300px;
        height: auto;
        @include mixins.smalldesk {
          width: 500px;
          max-width: 100%;
        }
      }
    }

    &__content {
    
      color: var(--color);
      height: 300px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2em;
      background-color: var(--bgColorBase);
      @include mixins.smalldesk {
        align-items: center;
        justify-content: center;
        text-align: center;
        height: max-content;
        
      }
      &__title {
        font-size: 1.3em;
        margin-top: 0;
        margin-bottom: 0.3em;

        a {
          @include mixins.underline-link;
          @include mixins.blog-title-link;
        }
      }

      &__description {
        font-size: 1em;
      }
      &__tags {
        display: flex;
      }
      &__link {
        font-size: 1.2em;

        @include mixins.underline-link;
        background-position: 0 86%;
        background-size: 0 0.2em;
      }
    }

    &:hover .project-card__image--image {
      scale: 1.1;
      transition: all 800ms;
    }

    &:hover > .project-card__content > .project-card__content__link {
      animation: underline-link 400ms forwards;
      font-weight: bold;
      background-size: 150% 0.1em;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 801px) {
      
      &:nth-of-type(even) > .project-card__image {
        order: 2;
        clip-path: inset(0 0 0 0 round 0 20% 0 0);
      }
      &:nth-of-type(even) > .project-card__content {
        align-items: flex-end;
      }
    }
  }
</style>
