---
import { Image } from "astro:assets";
import Tag from "./Tag.astro";
const { content } = Astro.props;
---

<li class="project-card" transition:animate="fade">
  <div class="project-card__image">
    <Image
      src={content.data.image.image}
      alt="See project"
      class="project-card__image"
    />
  </div>
  <div class="project-card__content">
    <h3>
      <a class="project-card__content__title" href={"/projects/" + content.id}
        >{content.data.title}
      </a>
    </h3>
    <p class="project-card__content__description">{content.data.description}</p>
    <section>
      <p class="visually-hidden">Posts tagged with:</p>
      <ul class="project-card__content__tags">
        {
          content.data.tags?.map((tag: string) => (
            <li>
              <Tag tag={tag}>{tag}</Tag>
            </li>
          ))
        }
      </ul>
    </section>
    <a class="project-card__content__link" href={"/projects/" + content.id}
      >View project
    </a>
  </div>
</li>

<style lang="scss">
  @use "../styles/mixins";
  .project-card {
    border-bottom: 1px solid;
    padding: 0 0 1.2em 0;
    margin: 0 0.2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    &__image {
      img {
        max-width: 100%;
        width: 500px;
        height: auto;
      }
    }

    &__content {
      color: var(--color);
      margin: 0 0 1em 0;
      text-decoration: none;
      @include mixins.underline-link;
      @include mixins.blog-title-link;
      &:hover,
      &:focus {
        transform: scale(2);
        transition: all 2ms;
      }

      &__tags {
        display: flex;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
</style>
