---
import { Image } from "astro:assets";
import Tag from "./Tag.astro";
import { randomClipPath } from "../utils/get-random-clip-shape";
const { content } = Astro.props;

const randomPath = `var(--${randomClipPath()}-path)`;
---

<li class="project-card" transition:animate="fade">
  <div class="project-card__image">
    <Image
      class="project-card__image--image"
      src={content.data.image.image}
      alt="See project"
    />
  </div>
  <div class="project-card__content">
    <h3 class="project-card__content__title">
      <a href={"/projects/" + content.id}>{content.data.title} </a>
    </h3>
    <p class="project-card__content__description">{content.data.description}</p>
    <!-- <section>
      <p class="visually-hidden">Posts tagged with:</p>
      <ul class="project-card__content__tags">
        {
          content.data.tags?.map((tag: string) => (
            <li>
              <Tag tag={tag}>{tag}</Tag>
            </li>
          ))
        }
      </ul>
    </section> -->
    <a class="project-card__content__link" href={"/projects/" + content.id}
      >View project
    </a>
  </div>
</li>

<style lang="scss" define:vars={{ clipPath: randomPath }}>
  @use "../styles/mixins";
  .project-card {
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    
    

    height: 300px;
    @include mixins.smalldesk {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__image {
        
        &--image {
          width: 800px;
          height: auto;
        }
      }
    }

    &__image {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: path("M64.1155 0.0257589H300V300H0.0109863C0.344849 241.407 0.812286 129.03 0.0109863 78.1492C-0.790314 27.2688 42.4134 -0.975825 64.1155 0.0257589Z");
      //clip-path: path(evenodd, var(--clipPath));
  

      &--image {
        width: 300px;
        height: auto;
      }
    }

    &__content {
      color: var(--color);
      height: 300px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2em;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: var(--bgColorBase);
      @include mixins.smalldesk {
        align-items: center;
        justify-content: center;
        text-align: center;
        height: max-content;
      }
      &__title {
        font-size: 2.3em;
        margin-top: 0;
        margin-bottom: 0.3em;

        a {
          @include mixins.underline-link;
          @include mixins.blog-title-link;
        }
      }

      &__description {
        font-size: 1.2em;
      }
      &__tags {
        display: flex;
      }
      &__link {
        font-size: 1.2em;

        @include mixins.underline-link;
        background-position: 0 86%;
        background-size: 0 0.2em;
      }
    }

    &:hover .project-card__image--image {
      scale: 1.1;
      transition: all 800ms;
    }

    &:hover > .project-card__content > .project-card__content__link {
      animation: underline-link 400ms forwards;
      font-weight: bold;
      background-size: 150% 0.1em;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 801px) {

      
      &:nth-of-type(even) > .project-card__image {
        order: 2;
        
        clip-path: path("M235.884 0.0257589H0V300H299.989C299.655 241.407 299.188 129.03 299.989 78.1493C300.79 27.2688 257.587 -0.975825 235.884 0.0257589Z");

      }
      &:nth-of-type(even) > .project-card__content {
        align-items: flex-end;
      }
    }
  }
</style>
