---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
import BackLink from "../../components/BackToAllLink.astro";
import Tech from "../../components/Tech.astro";
import BoxLink from "../../components/BoxLink.astro";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts.map((project) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout title={project.data.title}>
  <main class="project">
    <header class="project__header">
      <h1 class="project__header--title">{project?.data?.title}</h1>
      <div class="project__header--techs">
        <h4 class="visually-hidden">This project was created with:</h4>
        {
          project?.data?.technologies &&
            project?.data?.technologies.map((tech: string) => (
              <Tech tech={tech} />
            ))
        }
      </div>
      <Image src={project.data.images.cover} class="project__header--image" alt="" />
    
      <p class="project__header--description">{project.data.description}</p>
    </header>
    <div class="project__content">
      <section class="project__content__section">
        <h2 class="project__content__section--title">Links</h2>
        <div class="project__content__section--links">
          <BoxLink
            text="Check out the live project"
            link={project?.data?.link}
            blank="true"
          />
          <BoxLink
            text="View the project repo"
            link={project?.data?.repo}
            blank="true"
          />
        </div>
      </section>
      <Content />
      <BackLink link="/projects" text="Back to all projects"></BackLink>
    </div>
   
  </main>
</Layout>
<style lang="scss">
  @use "../../styles/mixins";
  .project {
    &__header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &--title {
        font-size: 2.2em;
        margin-bottom: 0;
      }

      &--description {
        font-size: 1.2em;
        margin: 2em 0 0 0;
      }

      &--image {
        width: 100%;
        padding-bottom: 0;
      }
    }

    &__content {
      padding-bottom: 2em;
      // border-bottom: 1px solid;

      &__section--links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mixins.smalldesk {
          flex-direction: column;
          align-items: flex-start;
          
        }
        &:first-child{
            border: red solid 2px;
          }
      }
    }

    &__link {
      display: flex;
      padding: 2em 0 0 0;
      display: flex;
      align-items: center;

      --to: 100%;
      font-weight: 900;

      &--link {
        font-size: 1.2em;
        @include mixins.reset-link;
        @include mixins.underline-link;
        background-image: linear-gradient(
          to right,
          var(--light-lilac) 0%,
          var(--lilac) 100%
        );
        background-position: 32px 86%;

        span {
          opacity: 0;
          font-size: 1em;
          &:first-of-type {
            --order: 2;
          }
          &:last-of-type {
            --order: 1;
          }
        }
      }
      &:hover .project__link--link {
        animation: underline-link 400ms forwards;
        font-weight: bold;
      }

      &:hover .project__link--link > span {
        opacity: 1;
        transition: all 500ms;
        transition-delay: calc(var(--order) * 150ms);
      }
    }
  }
</style>
