---
import "@fontsource-variable/work-sans";
import "../styles/global.css";
import { Image } from "astro:assets";
import mainLogo from "../images/logos/logo-viviyanez.png";
import blogLogo from "../images/logos/blog-viviyanez.png";
import Navigation from "../components/Navigation.astro";
import Social from "../components/Social.astro";
import ToggleTheme from "../components/ToggleTheme.astro";
import { Icon } from "astro-icon/components";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;

const date = new Date();
let year = date.getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>{title}</title>

  </head>
  <body >
    <header>
      <div class="header__icons">
        <Social platform="github" username="vivitt" />
        <Social platform="linkedin" username="in/viviana-yanez" />
        <ToggleTheme class="header__icons__toggle" transition:persist />
      </div>
      <div class="header__navigation" >
        {
          title === "Vivi's Blog" ? (
            <a>
            <Image src={blogLogo} alt="Vivi's Blog" width="550" />
          </a>
          ) : (
            <a href="/">
            <Image src={mainLogo} alt="viviyanez.dev" width="550" />
          </a>
          )
        }

        <Navigation />
      </div>
    </header>

    <slot />

    <footer>
      <div class="footer__links">
        <p>Find me on:</p>
        <a href="https://www.linkedin.com/in/viviana-yanez/" target="_blank"
          ><Icon name="linkedin" />LinkedIn
        </a>

        <a href="https://github.com/vivitt" target="_blank"
          ><Icon name="github" />GitHub
        </a>

        <a href="https://bsky.app/profile/viviyanez.bsky.social" target="_blank"
          ><Icon name="bsky" />Bluesky
        </a>

        <a href="https://x.com/yvivi_vi" target="_blank"><Icon name="x" />X </a>
      </div>
      <div class="footer__text">
        <p>Viviana Yanez {year} | Made with ♥︎</p>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  .header__icons {
    width: 150vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
  }
  .header__icons__toggle {
    z-index: 5;
  }
  .header__navigation {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  /* :root::view-transition-new(root) {
    animation: wide-theme 0.5s;
    clip-path: inset(0 0 0 0);
    z-index: 2;
  }

  :root::view-transition-old(root) {
    z-index: -1;
    animation: none;
  }

  [data-theme="dark"] {
    --from: 0 100% 0 0;
  }

  [data-theme="light"] {
    --from: 0 0 0 100%;
  } */

  /* @media (max-width: 500px) {
    [data-theme="dark"] {
      --from: 0 0 100% 0;
    }

    [data-theme="light"] {
      --from: 100% 0 0 0;
    }
  } */

  /* @media (prefers-reduced-motion) {
    :root::view-transition-new(root) {
      animation: none;
    }
  } */

  /* @keyframes wide-theme {
    from {
      clip-path: inset(var(--from));
    }
  } */
</style>
